#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.layout {
  display: grid;
  aspect-ratio: 1;
  width: 300px;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: 250px 50px;
}

.color-box {
  grid-column: 1/-1;
  background-color: darkmagenta;
  border-radius: .5em;
}

.button {
  margin-top: .325em;
  margin-inline: .2em;
  background-color: #333;
  font-weight: 600;
  color: aliceblue;
}
